* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('../../assets/waves.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 60%;

  background-color: rgba(35, 35, 35, 1);
  font-family: '--montserrat-font', sans-serif;
}

.MuiTypography-root {
  font-family: '--montserrat-font', sans-serif;
  font-weight: bold;
}

.MuiButtonBase-root-MuiButton-root {
  font-family: '--montserrat-font', sans-serif;
}

.MuiBox-root {
  font-family: '--montserrat-font', sans-serif;
}

.MuiButtonBase-root {
  font-family: '--montserrat-font', sans-serif;
  font-weight: bold;
}
