$main-bk-ground: rgba(48, 48, 48, 1);
$date-color: rgba(171, 171, 171, 1);
$main-txt-color: rgba(255, 255, 255, 1);
$city-country-txt-color: rgba(136, 136, 136, 1);
$border-filter-color: rgba(255, 255, 255, 1);
$active-filter-bk-ground: rgba(255, 255, 255, 1);
$active-filter-txt-color: rgba(48, 48, 48, 1);
$date-font-style: italic;
$main-font-style: normal;
$date-font-size: 0.75rem;
$btnshow-font-size: 0.875rem;

$city-country-txt-size: 1rem;
$title-txt-size: 1.125rem;
$modal-link-size: 0.875rem;
$modal-hidden-title-txt-size: 1rem;
$modal-hidden-txt-size: 0.875rem;
$modal-countrycity-txt-size: 1.375rem;
$modal-title-txt-size: 1.75rem;
$btnreset-font-size: 0.625rem;
$date-font-weight: 500;
$main-font-weight: 700;
$modal-hidden-font-weight: 400;
$header-font-size: 2.25rem;
$counter-font-size: 1.75rem;
$btnshow-bk-ground: rgba(59, 59, 59, 1);
$btnshow-color: rgba(165, 222, 219, 1);
$main-text-transform: uppercase;
$modal-countrycity-txt-color: rgba(136, 136, 136, 1);

$modal-link-color: rgba(43, 133, 128, 1);
$modal-hidden-container-bk-ground: rgba(43, 133, 128, 1);
$modal-hidden-application-color: rgba(229, 229, 229, 1);
$counter-color: rgba(43, 133, 128, 1);

$bp-desktop: 1200px;
$bp-tablet: 768px;
$bp-phone: 320px;

@mixin for-tablet {
  @media (min-width: $bp-tablet) {
    @content;
  }
}
@mixin for-phone {
  @media (min-width: $bp-phone) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: $bp-desktop) {
    @content;
  }
}

.header .counter {
  display: inline-block;
}
.header {
  color: $main-txt-color;
  font-size: $header-font-size;
  font-weight: $main-font-weight;
}

.counter {
  font-size: $counter-font-size;
  font-weight: 700;
  color: $counter-color;
  font-style: bold;
}

.main_container {
  background-color: $main-bk-ground;
  padding: 1.5rem 3.75rem 0.2rem 4.75rem;
  margin: 1.5rem 5.125rem 0.2rem 2.6875rem;
  border-radius: 1.8rem;
  min-width: 25rem;
}

@media (max-width: $bp-phone) {
  .main_container {
    background-color: $main-bk-ground;
    max-width: 320px;
    max-height: 100%;
    border-radius: 1.8rem;
  }
}

.resetBtn {
  color: $main-txt-color;
  font-size: $btnreset-font-size;
  text-transform: $main-text-transform;
  transform: translate(-95%, -10%);

  max-width: 80px;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: '--montserrat-font', sans-serif;
  font-weight: bold;
}

.showBtn {
  margin: 0px 1px;
  display: block;
  background-color: $btnshow-bk-ground;
  padding: 17px 52px 16px 50px;
  color: $btnshow-color;
  font-size: $btnshow-font-size;
  font-style: $main-font-style;
  font-weight: $main-font-weight;
  position: sticky;
}

.showBtnBorders {
  background-image: url('../../assets/btnlines.png');
  background-repeat: no-repeat;
  padding: 10px 10px;
  margin: 1rem auto;
  position: sticky;
  max-width: 300px;
}

.cards {
  min-width: 15.5rem;

  text-align: left;
  overflow: hidden;
  border: none;
  border-radius: none;
  vertical-align: top;
  font-weight: $main-font-weight;
  font-size: $title-txt-size;
}

.date {
  font-style: $date-font-style;
  font-weight: $date-font-weight;
  font-size: $date-font-size;
  color: $date-color;

  padding-right: 0.094rem;
  padding-top: 0.25rem;
  max-width: 12.188rem;
  white-space: nowrap;
  float: right;
}

.countryCityTitle {
  color: $city-country-txt-color;
  font-weight: bold;
}

.titleStyle {
  color: $main-bk-ground;
  font-size: $title-txt-size;
  font-weight: $main-font-weight;
  font-style: $main-font-style;
  font-style: bold;
}

.uniksBtns {
  padding: 0.688rem 0.625rem;
  appearance: none;
  background-color: $main-bk-ground;
  border: 1px solid $border-filter-color;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  text-transform: $main-text-transform;
  color: $main-txt-color;
  font-size: $btnshow-font-size;
  font-weight: $main-font-weight;
  font-family: '--montserrat-font', sans-serif;
  cursor: pointer;
  font-weight: bold;
}

.uniksBtnsFocus {
  background-color: $active-filter-bk-ground;
  color: $active-filter-txt-color;
}

.closeBtnModal {
  float: right;
  cursor: pointer;
  padding-top: 2.5rem;
  padding-right: 2.5rem;
}

.filterContainer {
  display: inline-block;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.mainFilterContainer {
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: $bp-tablet) {
  .filterContainer {
    display: flex;
    flex-direction: column;
  }
  .mainFilterContainer {
    display: inline-block;
  }
  .resetBtn {
    transform: none;
    float: right;
  }
  .imageFilter {
    text-align: right;
  }
  .modalHiddenContainer {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
.modalHiddenContainer {
  display: flex;
  justify-content: space-between;
  gap: 5.25rem;
  align-items: baseline;
  max-height: 100%;
  max-width: 100%;

  background-color: $modal-hidden-container-bk-ground;
  color: $main-txt-color;
  padding: 2rem 8.875rem 1.938rem 2.5rem;

  font-size: $modal-hidden-title-txt-size;
  font-style: $main-font-style;
  font-weight: $main-font-weight;
}

.modalHiddentxt {
  font-size: $modal-hidden-txt-size;
  color: $main-txt-color;
  font-weight: $modal-hidden-font-weight;
}

.modalHiddenDescripTitle {
  font-weight: $main-font-weight;
  font-size: $modal-hidden-title-txt-size;
  padding-left: 2.5rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.modalHiddenDescriptxt {
  font-weight: $modal-hidden-font-weight;
  font-size: $modal-hidden-txt-size;
  text-align: left;
  padding-left: 2.5rem;
  padding-right: 2.563rem;
  padding-bottom: 2.688rem;
}

.modalApplicationTitle {
  display: inline-block;
  background-color: $modal-hidden-container-bk-ground;
  color: $modal-hidden-application-color;
  text-transform: $main-text-transform;
  padding: 0.688rem 0.625rem;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  font-size: $modal-hidden-txt-size;
  font-weight: bold;
}

.modalCountryCity {
  font-size: $modal-countrycity-txt-size;
  color: $modal-countrycity-txt-color;
  font-weight: $main-font-weight;
  padding-left: 2.5rem;
}

.modalTitletxt {
  font-weight: $main-font-weight;
  text-align: left;
  font-size: $modal-title-txt-size;
  max-width: 80%;
  padding-left: 2.5rem;
  padding-bottom: 1.5rem;
  padding-right: 2.563rem;
}

.modalLink {
  padding-left: 0px;
  color: $modal-link-color;
  font-size: $modal-link-size;
  font-weight: $main-font-weight;
  cursor: pointer;
  align-self: flex-end;
}
